CureCollector/src/main/resources/FormOwnerExport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2012 rel. 2 sp1 (x64) (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="T_tables" mixed="true">
		<xs:sequence>
			<xs:element ref="question-table" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_row">
		<xs:sequence>
			<xs:element ref="column" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_questions" mixed="true">
		<xs:sequence>
			<xs:element ref="question" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_question-table">
		<xs:sequence>
			<xs:element ref="text"/>
			<xs:element ref="question" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="sn" type="xs:string" use="required"/>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_question">
		<xs:sequence>
			<xs:element ref="text"/>
			<xs:element ref="answer" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="sn" type="xs:string" use="required"/>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_owner">
		<xs:sequence>
			<xs:element ref="questions"/>
			<xs:element ref="complex-tables"/>
			<xs:element ref="tables"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_form">
		<xs:sequence>
			<xs:element ref="owner" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="revision" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_complex-tables" mixed="true">
		<xs:sequence>
			<xs:element ref="complex-table" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_complex-table">
		<xs:sequence>
			<xs:element ref="text"/>
			<xs:element ref="row" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="sn" type="xs:string" use="required"/>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_column">
		<xs:sequence>
			<xs:element ref="text"/>
			<xs:element ref="answer" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="sn" type="xs:string" use="required"/>
		<xs:attribute name="isIdentifying" type="xs:string" use="required"/>
		<xs:attribute name="id" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_answer">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="text" type="xs:string" use="required"/>
				<xs:attribute name="id" type="xs:string" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="text" type="xs:string"/>
	<xs:element name="tables" type="T_tables"/>
	<xs:element name="row" type="T_row"/>
	<xs:element name="questions" type="T_questions"/>
	<xs:element name="question-table" type="T_question-table"/>
	<xs:element name="question" type="T_question"/>
	<xs:element name="owner" type="T_owner"/>
	<xs:element name="form" type="T_form"/>
	<xs:element name="complex-tables" type="T_complex-tables"/>
	<xs:element name="complex-table" type="T_complex-table"/>
	<xs:element name="column" type="T_column"/>
	<xs:element name="answer" type="T_answer"/>
</xs:schema>
